*{
    padding: 0;
    margin: 0;
}
.form{
    display: grid;
    place-items: left;
    gap: 20px;
   position: relative;
   left: 250px;
    
}
.fullname{
    border: none;
    border-bottom: 1px solid black;
    width: 500px;
    height: 50px;
    border-radius: 7px;
    border: none;
    position: relative;
    left: 30px;
}
.pnumber, .email{
    height: 50px;
    width: 220px;
    border-radius: 7px;
    border: none;
}
.email{
    position: relative;
    left: 20px;
}
.lemail{
    position: relative;
    left: 10px;
}
.city, .city2{
    height: 50px;
    width: 220px;
    border-radius: 7px;
    border: none;
}
.city{
    position: relative;
    left: 60px;
}
.city2{
    position: relative;
    left: 80px;
}
.s-state{
    height: 50px;
    width: 220px;
    border-radius: 7px;
    border: none;
    position: relative;
    left: 120px;
}
.s-state2{
    height: 50px;
    width: 220px;
    border-radius: 7px;
    border: none;
    position: relative;
    left: 140px;
}
.t-aparte{
    height: 50px;
    width: 220px;
    border-radius: 7px;
    border: none;
}
button {
    position: relative;
    bottom: 30px;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 14px;
    height: 50px;
    width: 220px;
    float: right;
    position: relative;
    right: 300px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
}
  
button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}
   